<div class="login-page">
  <mat-grid-list cols="6" [style.margin-top]="'20px'">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <p>
          <mat-form-field appearance="legacy" class="full-width">
            <mat-label>Email</mat-label>
            <input type="text" matInput [(ngModel)]="credential.username" formControlName="username">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="full-width">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="credential.password" matInput type="password" formControlName="password">
          </mat-form-field>
        </p>

        <div id="controls" class="row">
          <button mat-raised-button type="submit" class="mat-primary"
                  [disabled]="loginForm.invalid" (click)="onSubmit()">
            Login
          </button>
          <div>
            <p>
              <a routerLink="/register">Register</a>
            </p>
          </div>
        </div>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>
